@media screen and (max-width: 1400px) {

    .main {
        top: 40%;
    }
}

@media screen and (max-width: 1024px) {

    .main {
        top: 30%;
    }
}


@media all and (orientation: portrait) {

    .main {
        top: 55%;
    }

    h1 {
        font-size: 10vw;
    }

    input {
        height: 7vw;
        font-size: 6vw;
    }

    .bouton button, #retour {
        font-size: 5vw;
    }

    #reponse {
        font-size: 4vw;
    }
}
