
@media all and (max-device-width: 800px) {

    .bouton button, #retour {
        margin: 2rem;
    }
}


@media all and (max-device-width: 400px) {

    .bouton button, #retour {
        margin: 1rem;
    }
}


@media all and (max-device-width: 1500px) and (orientation: portrait) {

    .main {
        top: 72%;
    }

    h1 {
        font-size: 7vw;
    }

    input {
        font-size: 4vw;
        height: 4.5vw;
    }

    .bouton button, #retour {
        font-size: 4vw;
    }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    
    .main {
        top: 63vh;
    }
}

@media screen and (max-width: 800px) and (orientation: portrait) {
    
    .back {
        top: 7vh;
    }
}

@media screen and (max-width: 500px) and (orientation: portrait) {
    
    .back {
        top: 1vh;
    }
}

@media all and (max-device-width: 350px) and (orientation: portrait) {
    
    .main {
        top: 65vh;
    }
}