
@media all and (max-device-width: 800px) {

    .bouton button, #retour {
        margin: 2rem;
    }
}


@media all and (max-device-width: 400px) {

    .bouton button, #retour {
        margin: 1rem;
    }
}


@media all and (max-device-width: 1500px) and (orientation: portrait) {

    .main {
        top: 72%;
    }

    h1 {
        font-size: 7vw;
    }

    input {
        font-size: 4vw;
        height: 4.5vw;
    }

    .bouton button, #retour {
        font-size: 4vw;
    }
}


@media all and (max-device-width: 800px) and (orientation: portrait) {
    
    .main {
        top: 65vh;
        width: 80vw;
    }

    h1 {
        font-size: 10vw;
    }

    input {
        font-size: 7vw;
        height: 8vw;
    }

    .bouton button, #retour {
        font-size: 6vw;
        margin-top: 3rem;
    }

    #reponse {
        font-size: 5vw;
    }

    .back {
        width: 60vw;
        text-align: center;
        left: 13%;
    }
}
