img {
    width: 75%;
    display: flex;
    margin: auto;
}

h1 {
    color: rgb(255, 132, 0);
    font-size: 6vw;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

input {
    height: 3vw;
    border-radius: 10px;
    font-size: 2.5vw;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    font-family: 'Indie Flower', cursive;
}

.bouton button, #retour {
    border-radius: 10px;
    font-size: 2vw;
    padding: 0.5rem;
    text-align: center;
    background-color: rgb(255, 132, 0);
    color: white;
    font-family: 'Indie Flower', cursive;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.main {
    
    position: absolute;
    width: 50vw;
    height: 70vh;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%); 
}

.card {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.front {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    align-content: space-around;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    position: absolute;
    width: 100%;
    top: 0;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(206, 216, 218);
    -webkit-backface-visibility: hidden;    
    -webkit-transform: rotateY(180deg); 
    backface-visibility: hidden;    
    transform: rotateY(180deg);
}

#reponse{
    position: relative;
    color: rgb(128, 66, 0);
    font-size: 1.5vw;
    background-color: white;
    border: 0.1rem solid rgb(138, 152, 155);
    border-radius: 20px;
    padding: 4%;
    font-family: 'Baskervville', serif;
}
